@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  background-color: #ecfdf3;
  color: #032b1e;
}

body {
  margin: 0;
  padding: 0;
}
